h1 {
    color:red; /* Text Color Red */
    border: 1px solid black; /* Size, type, and color of border */
    width: 200px;
    margin: 50px 0 0 50px; /* Top, right, bottom, left */
    background-color: aquamarine;
    padding: 25px; /* same distance all directions */
}

h2 {
    color: blue;
    border: 1px solid black;
    width: 200px;
    margin: 100px 0 0 100px;
    background-color: burlywood;
    padding: 50px;
}

p {
    width: 800px;
    font-size: 1.75em;
    text-align: justify;
    text-indent: 25px;
    margin-left: 300px;
    border: 4px solid purple;
    padding: 20px;
}