/* Template Styles */

body {
    color: black;
    background-color: white;
}

#container {
    position: relative;
    z-index: 10;
    margin: 20px auto 20px auto;
    width: 1040px; 
    height: auto;


    /* CSS Grid */
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
        "a";
}

#a {
    z-index: 15;
    grid-area: a;
}

#sec01, #sec02, #sec03, #sec04, #sec05, #sec06 {
    z-index: 20;
    width: auto;
    height: auto;
    margin-bottom: 30px;
}

#sec01 {
    img {
        width: 400px;
        height: auto;
    }
}

#sec02 {
    img {
        width: 400px;
        height: auto;
        margin: 0px 10px 20px 0px;
    }

    .ihovergray:hover {
        filter: grayscale(100%);
    }

    .ihoversepia:hover {
        filter: sepia(100%);
    }

    .ihoversaturate:hover {
        filter: saturate(2.2);
    }

    .ihoverblur:hover {
        filter: blur(10px);
    }
}

#sec03 {
    height: 800px;
    background-image:url("../images/fall_forest.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: lightseagreen;
    color: white;
}

#sec04 {
    img {
        width:50%;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
}

#sec06 {
    video {
        width: 100%;
    }
}

/* Classes */

.ptitle {
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: 30px;
} 

.rmid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cmid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}