/* uiDigital Styles */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caveat:wght@400..700&display=swap');

body {
    color: black;
    background-color: white;
}

#container {
    position: relative;
    z-index: 10;
    width: 100vw; /* vw = view width */ 
    height: 100vh; /* vh = view height */

    /* CSS Grid */
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-auto-rows: 100vh;
    grid-template-areas: 
        "a b";
}

#a, #b {
    z-index: 15;
}

#a {
    grid-area: a;
    background-color: #222;
    color: white;


    /* Combo */
    #logo, #nav, #coninfo, #social {
        z-index: 20;
        width: 100%;
    }

    /* Logo */
    #logo {
        height: 30vh;

        h1 {
            font-size: 3em;
            text-align: center;
            padding-top: 50px;
            font-family: "Archivo Black", sans-serif;
        }

        h1 span {
             font-family: "Caveat", cursive;
             color: lightblue;
        }

        h3 {
            font-size: .75em;
            text-align: center;
            letter-spacing: 1.4px;
        }

    }

    /* Nav */
    #nav {
        height: 40vh;

        ul {
            margin-left: 60px;
        }

        ul li {
            z-index: 25;
            padding: 10px;
        }

            span {
                float: right;
            }

        ul li:nth-child(-n+6) {
            border-bottom: 1px dotted #888;
        }
    }

    /* Contact Info */
    #coninfo {
        height: 20vh;
        border-top: 1px solid #888;
        border-bottom: 1px solid #888;

        p {
            margin-bottom: 10px;
        }
    }

    /* Social */
        #social {
        height: 10vh;
    }
}

#b {
    grid-area: b;

    #btop, #bbottom {
        z-index: 40;
        width: 100%;
    }

    #btop {
        height: 80vh;
        background-image:url("../images/bg01.jpg");
        background-position: center;
        background-size: cover;
        padding-top: 150px;
        padding-left: 100px;

        #btop01 {
            z-index: 40;

            h3 {
            font-size: 1.75em;
            color: white;
            }
        }

        #btop02 {
            z-index: 40;
            width: 500px;

            h1 {
                font-size: 5em;
            }
        }

        #btop03 {
            z-index: 40;

            h2 {
                font-size: 2.25em;
                color: white;
            }
        }

        #btop04 {
            z-index: 40;

            #design, #market, #build, #measure, #search, #strategy {
                z-index: 45;
                float: left;
                width: 120px;
                height: 120px;
                border: 1px solid #111;
                border-radius: 120px;
                margin-right: 20px;
                color: white;
            }

            #design {
                background-color:lightseagreen;
            }

            #build {
                background-color: lightsalmon;
            }

            #market {
                background-color: lightcoral;
            }
        
            #measure {
                background-color: palevioletred;
            }

            #search {
                background-color: plum;
            }

            #strategy {
                background-color: lightskyblue;
            }
        }
    }

    #bbottom {
        height: 20vh;
    }
}

/* Classes */

.rmid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cmid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}